* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #eee;
}

header {
    width: 100%;
    height: 100px;
}


.container-full {
    width: 360px;
    height: calc(100vh - 140px);
}

